@import url('http://fonts.googleapis.com/css?family=Wire+One');
/*@import url('assets/wire_one.css');*/

body {
    background-color: #ffffff;
}

.menu {
    display: none;
}

.left div.tile {
    padding: 5px;
}

.centered #layout {
    width: 900px;
}

.centered.bleed header {
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
}

.centered header {
    height: 100px;
    background-color: transparent;
}

.page-cover.layout-header-wide header {
    height: 100px;
    background-color: transparent;
}

.layout-header-wide header {
    height: 100px;
    background-color: #ffffff;
    position: fixed;
}

.page-cover.left header {
    background-color: transparent;
}

.left header {
    width: 175px;
    background-color: #ffffff;
}

header h1 a {
    color: #888888;
    top: 54px;
    left: auto;
    right: auto;
    width: 175px;
    font-family: Wire One;
    font-size: 55px;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 0;
    background: none !important;
    position: relative;
    margin: 0 auto;
    background-image: url('assets/logo.jpg?112');
}

.centered nav {
    top: 70px;
    left: 12px;
    background-color: transparent;
}

.layout-header-wide nav {
    top: 70px;
    left: 40px;
    right: auto;
    background-color: transparent;
}

.left nav {
    top: 126px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.layout-header-wide.nobleed #billboard img {
    width: 900px;
}

nav .dropdown li a {
    color: #cccccc;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav .accordion li a {
    color: #cccccc;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav a {
    color: #666666;
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0;
    border-radius: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

nav .dropdown ul {
    border-radius: 3px;
    background-color: #ffffff;
}

.centered #content {
    background-color: transparent;
    border-radius: 0;
}

.centered.bleed footer {
    color: #777777;
    background-color: #ffffff;
    border-radius: 5px;
}

.centered footer {
    color: #777777;
    background-color: transparent;
}

.bleed.layout-header-wide footer {
    color: #777777;
    background-color: transparent;
}

.layout-header-wide footer {
    color: #777777;
    background-color: #ffffff;
}

.left footer {
    color: transparent;
}

footer a {
    font-size: 13px;
    color: #adadad;
    background-color: transparent;
}

#overlay > div {
    background-color: transparent;
}

.sidescroll .images li {
    margin-left: 5px;
    margin-right: 5px;
}

#content > h2 {
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border-top: 1px solid;
    padding-top: 15px;
    display: block;
}

#content > h2 a {
    color: #cccccc;
}

#content h1 {
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0;
}

#content * h2 {
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0;
}

h3 {
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0;
}

h4 {
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0;
}

.description
{
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
}

#content a {
    color: #00a3ff;
    background-color: transparent;
    text-decoration: underline;
}

nav .blurb {
    color: #525252;
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: 0;
    border-radius: 0;
    margin-top: 0px !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.left div.tile a {
    width: 350px;
    margin: 0 10px 10px 0;
}

.layout-header-wide div.tile a {
    width: 350px;
    margin: 0 10px 10px 0;
}

.layout-header-wide #content {
    margin-top: 100px;
}

.left #content {
    margin-left: 175px;
}

header h1 img {
    display: none;
}

header h1 span {
    display: block;
}

.left nav ul {
    width: 100%;
}

body nav .selected a {
    color: #666666;
    background-color: transparent;
}

body nav a:hover {
    color: #666666;
    background-color: transparent;
}

.left.nobleed #billboard {
    top: 43px;
    left: 250px;
    width: 900px;
}

.sidescroll .images li { 
    margin-top: 5px; 
    vertical-align: top; 
}
header h1{
    white-space:nowrap;
}
.page-cover header, .page-cover header h1 a{
    width: 250px !important;
}

.page-cover header a{
    color: #aaaaaa; !important;
}
.accordion li a {
    color: #888888 !important;
}
.page-cover header a:hover{
    color: white !important;
}

header a:hover{
    font-weight:bold;
}

li.selected a{
    font-weight:bold !important;
}

.my-text-page{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    height:100%
}


#posts-grid {
    position: relative;
    width: 100%;
    max-width: 1800px;
    min-width: 620px;
    margin: 0px auto;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
}

#posts-grid .post-square {
    position: relative;
    background: #ccc;
    float: left;
    margin: 5px;

    width: 300px;
    height: 300px;

    background-position: center center;
    background-size: cover;
}

#posts-grid .post-square .post-meta {
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.55);
    opacity: 0.8;
    -webkit-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1);
    -webkit-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    -moz-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    -ms-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    -o-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
}

#content {
    margin-top: 35px;
}

#posts-grid .squares:after {
    clear: both;
    content: ' ';
    display: block;
    visibility: hidden;
}

#posts-grid .post-square.featured-post {
    width: 610px;
    height: 610px;
}

#posts-grid .post-square .post-meta .post-titles {
    position: absolute;
    text-align: center;
    color: #fff;
    word-wrap: break-word;
    width: 100%;


    margin-top: 90px;
}

#posts-grid .post-square .post-meta .post-titles h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    line-height: normal;
    margin: 0 0 5px 0;
}

#posts-grid .post-square .post-meta .post-titles h2 {
    font-size: 25px;
    font-family: "adobe-garamond-pro", serif;
    font-weight: normal;
    font-style: italic;
    margin: 0 0 1.5em;
}

#posts-grid .post-square.featured-post .post-meta .post-titles {
    top: 62%;
    margin-top: -18%;
}


#posts-grid .post-square.featured-post .post-meta .post-titles h1 {
    font-size: 50px;
    letter-spacing: 6px;
    margin: 0 0 10px 0;
}


#posts-grid .post-square.featured-post .post-meta .post-titles h2 {
    font-size: 28px;
}


#posts-grid .post-square .post-meta .post-date {
    font-family: "adobe-garamond-pro", serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 12px;
    width: 100%;
}

#posts-grid .post-square.featured-post .post-meta .post-date {
    font-size: 13px;
}

#posts-grid .post-square .post-meta .post-titles h1 a, 
#posts-grid .post-square .post-meta .post-titles h1 a:link, 
#posts-grid .post-square .post-meta .post-titles h1 a:visited,
#posts-grid .post-square .post-meta .post-titles h2 a,
#posts-grid .post-square .post-meta .post-titles h2 a:link, 
#posts-grid .post-square .post-meta .post-titles h2 a:visited {
    display: inline-block;
    width: 95%;
    color: #fff;
    text-decoration: none;
    border-bottom: none;
}

#posts-grid .post-square:hover .post-meta, 
#posts-grid .post-square:active .post-meta
{
    opacity:1;
}

.site-contact {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
}

.social-media-links img {
    display: inline;
}

.site-contact input, .site-contact textarea {
    background: #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    border-width: 1px;
    color: #333333;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    margin: 1px 0;
    padding: 10px;

    width: 480px;
}

.site-contact button {
    color: #404040 !important;
    background: #fafafa;
    background-size: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-radius: 20px;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    box-shadow: none;

    width: 200px;
}

.help-block-error
{
    color:red
}