/* 22Slides Skin Stylesheet
----------------------------------------------- */

@import url('http://fonts.googleapis.com/css?family=Wire+One');

body {
	background-image: url('assets/bg-body.jpg?112');
	background-position: center top;
	background-repeat: repeat;
	background-attachment: scroll;
	background-color: #ffffff;
	}

.centered #layout {
	width: 900px;
	}

.centered.bleed header {
	height: 100px;
	background-image: url('assets/bg-header-bleed.jpg?112');
	background-color: #ffffff;
	border-radius: 10px;
	}

.centered header {
	height: 100px;
	background-image: url('assets/bg-header.jpg?112');
	background-color: transparent;
	}

.page-cover.layout-header-wide header {
	height: 100px;
	background-image: url('assets/bg-header-wide-home.jpg?112');
	background-color: transparent;
	}

.layout-header-wide header {
	height: 100px;
	background-image: url('assets/bg-header-wide.jpg?112');
	background-color: #ffffff;
	position: fixed;
	}

.page-cover.left header {
	background-image: url('assets/bg-header-home-bleed.jpg?112');
	background-color: transparent;
	}

.left header {
	width: 175px;
	background-image: url('assets/bg-header-bleed.jpg?112');
	background-color: #ffffff;
	}

header h1 a {
	color: #888888;
	top: 54px;
	left: auto;
	right: auto;
	width: 175px;
	font-family: Wire One;
	font-size: 55px;
	font-weight: normal;
	text-transform: lowercase;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 0;
	background: none !important;
	position: relative;
	margin: 0 auto;
	background-image: url('assets/logo.jpg?112');
	}

.centered nav {
	top: 70px;
	left: 12px;
	background-image: url('assets/bg-navigation.jpg?112');
	background-color: transparent;
	}

.layout-header-wide nav {
	top: 70px;
	left: 40px;
	right: auto;
	background-image: url('assets/bg-navigation.jpg?112');
	background-color: transparent;
	}

.left nav {
	top: 126px;
	left: 0px;
	right: 0px;
	text-align: center;
	}

.layout-header-wide.nobleed #billboard img {
	width: 900px;
	}

nav .dropdown li a {
	color: #cccccc;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	}

nav .accordion li a {
	color: #cccccc;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	}

nav a {
	color: #666666;
	background-color: transparent;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0;
	border-radius: 0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	}

nav .dropdown ul {
	border-radius: 3px;
	background-color: #ffffff;
	}

.centered #content {
	background-image: url('assets/bg-content.jpg?112');
	background-position: center top;
	background-repeat: repeat-y;
	background-color: transparent;
	border-radius: 0;
	}

.centered.bleed footer {
	color: #777777;
	background-image: url('assets/bg-footer-bleed.jpg?112');
	background-color: #ffffff;
	border-radius: 5px;
	}

.centered footer {
	color: #777777;
	background-color: transparent;
	}

.bleed.layout-header-wide footer {
	color: #777777;
	background-color: transparent;
	}

.layout-header-wide footer {
	color: #777777;
	background-color: #ffffff;
	}

.left footer {
	color: transparent;
	}

footer a {
	font-size: 13px;
	color: #adadad;
	background-color: transparent;
	}

#overlay > div {
	background-color: transparent;
	}

.sidescroll .images li {
	margin-left: 5px;
	margin-right: 5px;
	}

#content > h2 {
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	border-top: 1px solid;
	padding-top: 15px;
	display: block;
	}

#content > h2 a {
	color: #cccccc;
	}

#content h1 {
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 0;
	}

#content * h2 {
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 0;
	}

h3 {
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 0;
	}

h4 {
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 0;
	}

#content a {
	color: #00a3ff;
	background-color: transparent;
	text-decoration: underline;
	}

nav .blurb {
	color: #525252;
	background-color: transparent;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 19px;
	letter-spacing: 0;
	border-radius: 0;
	margin-top: 0px !important;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	}

.left div.tile a {
	width: 350px;
	margin: 0 10px 10px 0;
	}

.layout-header-wide div.tile a {
	width: 350px;
	margin: 0 10px 10px 0;
	}

.layout-header-wide #content {
	margin-top: 100px;
	}

.left #content {
	margin-left: 175px;
	}

header h1 img {
	display: none;
	}

header h1 span {
	display: block;
	}

.left nav ul {
	width: 100%;
	}

body nav .selected a {
	color: #666666;
	background-color: transparent;
	}

body nav a:hover {
	color: #666666;
	background-color: transparent;
	}

.left.nobleed #billboard {
	top: 43px;
	left: 250px;
	width: 900px;
	}

